:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-body);
  transition: all 0.2s;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --checkbox-border-color: #8b8c89;
  --checkbox-checked-color: #6da3e0;
  --checkbox-hover-color: #a3cef1;
  --checkbox-disabled-bg-color: #d9d9d9;
}

#root {
  width: 100%;
}

html[data-theme="dark"] {
  --background-body: #242424;
  --background-color-50: rgba(59, 58, 58, 0.5);
  --background-color-70: rgba(59, 58, 58, 0.7);
  --color-main: #cccbcb;
  --background-color-btn: rgb(159, 109, 240);
  --background-color-btn-hover: rgb(178, 138, 241);
  --background-color-ticket-logo: #cccbcb;;
}

html[data-theme="light"] {
  --background-body: rgb(225, 237, 253);
  --background-color-50: rgb(203, 232, 252);
  --background-color-70: rgba(255, 255, 255, 0.7);
  --color-main: #333333;
  --background-color-btn: rgb(248, 146, 13);
  --background-color-btn-hover: rgb(243, 163, 58);
  --background-color-ticket-logo: inherit;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  width: 100% !important;
  background-color: inherit;
}
